<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.board.notice.NoticeDAO">
  
  <select id="getList" resultType="NoticeVO">
  
  SELECT * FROM NOTICE 
  WHERE BOARDCONTENTS LIKE CONCAT('%', '3', '%')
  ORDER BY BOARDNUM DESC
  LIMIT 0,10
  
  </select>
  
  <insert id="add" parameterType="BoardVO">
  INSERT INTO NOTICE
  (BOARDWRITER, BOARDCONTENTS, BOARDDATE, BOARDHITS, BOARDTITLE )
  VALUES
  (#{boardWriter},#{boardContents}, now(), 0, #{boardTitle})
  </insert>
  </mapper>